.board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  position: absolute;
}
.squares {
  display: flex;
  border: solid 1px black;
  width: 100px;
  height:100px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.message{
  margin-left: 450px;
  left: 50%;
}
.game ul, .game p{
  margin-top: 200px;
}
